*{
    margin: 0;
}
.nav-container{
    display: flex;
    background-color: #91D8E4;
    justify-content: space-around;
    align-items: center;
    padding:  35px 12px;
}
.logo-title{
    font-size: 30px;
}
.logo-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items{
    display: flex;
    list-style: none;
}
.item{
    margin-left: 40px;
    font-size: 25px;
    font-weight: 500;
}
/* ------------------banner---------- */
.banner{
    background-image:linear-gradient(rgba(16, 148, 137, 0.1), rgba(15, 66, 66, 0.8)), url('../asset/image/background.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}
.banner-container{
    width: 100%;
    
}
.banner-container span{
    color: #f52c2c;
}
.banner-container h1{
    font-size: 110px;
    font-weight: 600;
    text-align: center;
    color: aliceblue;
}
.banner-container p{
    font-size: 30px;
    text-align: center;
    align-items: center;
    margin: 30px 0;
    color: aliceblue;
}
.btn-banner-left{
    padding: 15px 25px ;
    font-size: 25px;
    background-color: #f52c2c;
    color: white;
    margin-right: 15px;
    border: none;
}
.btn-banner-right{
    padding: 15px 25px ;
    font-size: 25px;
    background-color: white;
    color: rgb(43, 42, 42);
    margin-right: 15px;
    border: none;
}
/* --------------service section---- */
.service-container{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url('../asset/image/footer-bg.png');
    height: 100vh;
}
.service-content{
    padding: 30px;
}
.service-btn{
    padding: 15px 25px ;
    font-size: 25px;
    background-color: white;
    color: rgb(43, 42, 42);
    margin-right: 15px;
    border: none;
    border-radius: 10px;
    
}
.service-content h1{
    font-size: 50px;
    font-weight: 600;  
}
.service-content span{
    color: #f52c2c;
}
.service-content p{
    font-size: 30px;
    margin: 30px 0;
    color: aliceblue;
}
.service-content ol li{
    font-size: 25px;
    color: aliceblue;
}
.service-content ol{
    margin-left: -14px;
}
.author{
    display: flex;
    align-items: center;
    margin: 30px 0;
    padding: 15px;
}
.author img{
    border-radius: 50%;
    margin-right: 20px;
}
.author-title{
    color: white;
}
.author-btn{
    padding: 15px 25px ;
    font-size: 25px;
    background-color: white;
    color: rgb(43, 42, 42);
    margin-right: 15px;
    border: none;
    border-radius: 10px;   
}
.author-container{
    display: flex;
    align-items: center;
}
.author-btn-container{
    border-left: 1px solid #f52c2c ;
    
}